.profileInfo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  margin: 14px 0;
}

.info {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.info p {
  font-size: 11px;
  color: rgb(150, 150, 150);
}

.info span {
  font-size: 16px;
  color: rgb(52, 52, 52);
  margin-left: 5px;
}

.avatarWrapper {
  position: relative;
}

.editAvatarBtn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 1px;
  right: 2px;
}

.editBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.changeProfileVue {
  position: absolute;
  width: 90px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 4px 4px 12px rgba(94, 94, 94, 0.5);
  left: 10px;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 6px;
}

.changeAvatarBtn {
  background: none;
  border: none;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  cursor: pointer;
}

.changeAvatar {
  transition: all 0.5s;
}

.changeAvatar:hover {
  transform: scale(1.8);
}

.changeAvatar:active {
  transform: scale(2.2);
  transition: all 0.2s;
}

.profileSaveBtn {
  background: none;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  letter-spacing: 4px;
  opacity: 0.3;
  padding: 4px 14px;
  font-size: 16px;

  transition: all 0.5s;
}

.profileSaveBtn:hover {
  background: rgb(208, 252, 201);
}

.profileSaveBtn:active {
  background: rgb(207, 207, 207);
}
