.auth_page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth_form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgba(100, 100, 100, 0.3);
}

.auth_form input[type="text"],
.auth_form input[type="password"] {
  padding: 4px 8px;
}

.auth_password_wrapper {
  display: flex;
  align-items: center;
}

.auth_show_password_btn {
  background: none;
  border: none;
  cursor: pointer;
}
