.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile_btns {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile_btns button {
  border: none;
  background: none;
  cursor: pointer;
}
